Microting.RebusPOC.DataAccess/bin/
Microting.RebusPOC.DataAccess/obj/
Microting.RebusPOC.Worker/bin/
Microting.RebusPOC.Worker/obj/
Microting.RebusPOC/.vs/
Microting.RebusPOC/bin/
Microting.RebusPOC/obj/
